src/__pycache__/
.idea
simple_dataset
src/config.py
data_original/.DS_Store
data_combined
models
data_original/dataset_1/.DS_Store
data_original/dataset_2/.DS_Store
data_original/dataset_3/.DS_Store
data_original/dataset_4/.DS_Store
.DS_Store
.gitignore
src/__pycache__/data_engineering.cpython-39.pyc
src/__pycache__/model_engineering.cpython-39.pyc
